* {	
	font-family: "Roboto", Arial, sans-serif;
	box-sizing: border-box;
	border-radius: 5px;
	user-select: none; 
}


body,
html {	
	margin: 0;
}


#wrapper {
	max-width: 960px;
	margin: auto;
	overflow-y: scroll;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

#wrapper::-webkit-scrollbar {
	display: none;
}


/* -------------- navbar ----------------- */

nav {
	overflow: hidden;
	background: linear-gradient(-45deg, #EEB1BF 5%, #d42dab 10%, #4d1d63 30%, #030243 100%);
	box-sizing: border-box;
	border-radius: 0;	
}

nav a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 0;
}

.dropdown {
	float: left;
	overflow: hidden;
	border-radius: 0;
}

.dropdown .dropbtn {
	position: relative;
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	border-radius: 0;
}

nav .active {
	background-color: rgba(248, 8, 208, 0.527);
}


nav a:hover,
.dropdown:hover .dropbtn {	
	border-bottom: solid 4px rgb(255, 0, 200);
	border-radius: 0;	
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 46px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 0;	
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-radius: 0;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}


img.col-6 {
	box-sizing: border-box;
	display: flex;
	float: left;
    width: 50%;        	
	height: 400px;
	object-fit: cover; 	 	
	justify-content: space-around;
	padding: 5px;
	border-radius: 10px;
}




/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: block;
}


/* logo */
.logo {
	width: 40px;
	height: 40px;
	background: url(../logo.png) no-repeat;
	background-size: 40px 40px;
	overflow: visible;
	display: block;
	margin-right: 20px;
	float: right;
}


/* --------------- section ---------------*/
section {
	margin: auto;
	padding-bottom: 10px;
	/* height: 400px; */
	/* overflow: hidden; */
	
}

blockquote {
	margin: 0;
	background: #8129e673;
	padding: 10px 20px;
	font-family: 'Calibri', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;

	font-family: 'Calibri', sans-serif;
	font-size: 35px;
	font-weight: 900;
	letter-spacing: normal;
	line-height: 40.8px;
	text-transform: none;
	color: #340637;
	margin: 0;
	text-align: left;
}

blockquote cite {
	display: block;
	font-family: 'Calibri', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	letter-spacing: normal;
	line-height: 10px;
	text-transform: none;
	color: #340637;
	margin: 0;
	text-align: right;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}

section>figure+figure {
	margin-left: 28px;
}



/*   ----------------------
*   Футер 
* ----------------------*/

footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
	border-radius: 0;
	height: 110px;
}

footer p {
	margin: 5px 0;
}

footer h3 {
	font-size: 14px;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;

}

/* Лента Твиттера */

#twitter {
	float: left;
	width: 250px;
	margin: 0 5px;
}

#twitter time a {
	color: #b4aeae;
}

#twitter p {
	padding-right: 15px;
}


/* Карта сайта */

footer a {
	color: #dbdbdb;
}

#sitemap {
	width: 180px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div+div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}

/* Социальные ссылки */
#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background: url(../social.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
	z-index: 20;
}

.social-icon-small {
	width: 16px;
	height: 16px;
	background: url(../social-small.png) no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
	z-index: 20;
}

.twitter {	background-position: 0 0;}
.facebook {	background-position: -30px 0;}
.google-plus {background-position: -60px 0;}
.vimeo {background-position: 0 0;}
.youtube {background-position: -16px 0;}
.flickr {background-position: -32px 0;}
.instagram {background-position: -48px 0;}
.rss {background-position: -64px 0;}

/* Копирайт */
#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}

/* ------------- images  ---------------- */




.responsive {
	width: 100%;
	height: 300px;
	margin: 20px 0 20px 0;
	/* border: 1px solid Red; */
}

.responsive>img {

	width: 100%;
	height: 100%;
	object-fit: cover;
	/*fill; contain; cover;   */
}

/* --- responsive image ------*/
.h-30 {
	height: 300px;
}

.h-60 {
	height: 600px;
}

.h-10 {
	height: 100%;
}




/* Container holding the image and the text */
.container-image-text {
	position: relative;
	text-align: center;
	color: white;
}

/* Bottom left text */
.bottom-left {
	position: relative;
	bottom: 8px;
	left: 16px;
}

/* Top left text */
.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
}

/* Top right text */
.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
}

/* Bottom right text */
.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
}

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}




/* --- container-image --- */

.container-image {
	max-width: 100%;
	height: 600px;
	margin: 0 auto;
	position: relative;
}

.container-image img {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	margin: 0;
	object-fit: cover;
	border-radius: 5px;
}

.container-image>.content {
	font-family: Arial;
	font-size: 14px;
	color: #f1f1f1;
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	/* Black background with 0.5 opacity */
	width: 100%;
	padding: 10px 40px;
}





.text-block-container {
	position: relative;
	font-family: Arial;
	max-width: 100%;
	margin: 20px 0 40px 0;
}

.text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}



hr {
	margin: 40px auto;
	height: 2px;
	width: 80%;
	text-align: center;	
	border: 0px;
	background: linear-gradient(-90deg, #EEB1BF 15%, #030243 100%);
}

h2 {
	text-align: center;
	color: #c9c9c9;
}

#artical-list {
	margin: 5px auto;
	display: block;
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;/* IE and Edge */	
	scrollbar-width: none;/* Firefox */	
}

#artical-list::-webkit-scrollbar {
	display: none;
}

artical {
	position: relative;
	margin: 15px auto;
	padding: 5px 20px;
	display: block;
	text-align: justify;
	font-size: 1em;
	color: #e8e6f5ad;
	background-color: #b966df3b;
	border-radius: 5px;
	overflow: hidden;
	/* box-shadow: 0px -6px 5px -5px rgba(209, 221, 6, 0.6); */
	/* box-shadow: 0px 9px 5px -5px rgba(209, 221, 6, 0.6);	 */
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.artical-footer {
	position: relative;
	display: block;
	margin: 0 0 5px 0;
	padding: 5px;
	height: 2em;
	/* background-color: #f9f9fd65; */
	border-radius: 3px;
	overflow: hidden;
}

time {
	position: relative;
	/* padding: 5px; */
	margin: 5px 0;
	top: 0;
	right: 0;
	display: block;
	float: left;
	color: #1d04f7ea;
	font-size: 0.6em;
	font-weight: 800;
}

p.name {
	position: relative;
	padding: 0px;
	margin: 0px 0;
	top: 0;
	right: 0;
	float: right;
	color: #020202;
	font-size: 1.2em;
	font-weight: 900;
	text-shadow: 0px 0px 4px rgba(66, 66, 66, .81);
}

.form {
	position: relative;
	display: block;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	background-color: #b966df3b;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px -9px 5px -5px rgba(0, 1, 2, 0.6);
}

textarea {
	position: relative;
	float: left;
	margin: 5px 20px 5px 0;
	padding: 5px 20px;
	display: block;
	width: 80%;
	text-align: justify;
	font-size: 1em;
	color: #080618b6;
	border: none;
	border-radius: 3px;
	overflow: hidden;
	height: 50px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px inset;
	background-color: #f9f9fd65;
	resize: none;
}

textarea:focus {
	outline: none;	
}

.form>.button {
	border-radius: 3px;	
	display: flex;
	float: left;
	margin: 5px auto;
	height: 50px;
	width: 15%;
	cursor: pointer;
	background-color: #8a12c2c5;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form>.button>p {
	margin: auto;
	text-align: center;
	font-size: 1.2em;
}


.form>.button:hover {
	background-color: #c2126ac5;
}




@media screen and (max-width: 720px) {
	nav a,
	nav>.dropdown,
	nav>.dropbtn {
		/* float: none; */
		display: none;
		/* text-align: left; */
	}

	.hamburger-menu {
		display:block;
		visibility: visible;
	}

	.menu_box {
		display: block;
		position: fixed;
		float: none;
		visibility: visible;
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		color: #ECEFF1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
		/* transition-duration: .25s; */
	}
	.menu_item {
		display: block;
		float: left;
		padding: 12px 24px;
		/* color: #333; */
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		/* transition-duration: .25s; */
	}

	nav a {
		float: none;
		display: block;
		display: none;
		text-align: left;
	}


	#twitter,
	#sitemap,
	#footer-logo {
		display: none;
	}

	#social	 {
		float: none;
		display: block;
		width: 100%;
	}

	img.col-6 {		
		width: 100%;
	}
}